$fontLight: 'iaz-light', sans-serif
$fontRegular: 'iaz-regular', sans-serif
$fontSemiBoldCond: 'iaz-semiboldCond', sans-serif
$fontSemiBold: 'iaz-semiBold', sans-serif
$fontBold: 'iaz-bold', sans-serif

$colorBaseLayout: #0f123d
$colorBaseBrandRed: rgba(32, 76, 151, 0.81)
$colorBaseBrandBlue: #50b8dc
$colorBaseText: #d4d6ff

$colorSuccess: #4BB543
$colorSuccessLight: #dbf9e0
$colorError: tomato
$colorErrorDark: red
$colorWarning: orange
$colorInfo: dodgerblue





